body {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "DM Sans", sans-serif;
    height: 100vh;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #000 url("./images/ea2ebb40-debf-4b8e-9b4e-73cca50fa5ff.jpg") no-repeat center / cover;
    color: #f3f3f3;
    border-bottom: 6px solid #711795;
}

.border-blue {
    border: 1px dotted blue;
}

